{% extends "base.html" %}

{% block title %}Lista de Intructores SENA - SENA APP{% endblock %}

{% block content %}
<div class="row">
    <div class="col-12">
        <div class="d-flex justify-content-between align-items-center mb-4">
            <h4>Lista de Instrucores SENA</h4>
            <div>
                <span class="badge bg-info fs-6">Total: {{ total_instructores }} instructores</span>
                <a href='/admin/instructores/instructor/add/' class="btn btn-succes ms-2">
                    Nuevo Intructor
                </a>
            </div>
        </div>
    </div>
</div>
{% if lista_instructores %}
<div class="row">
    <div class="col-12">
        <div class="table-responsive">
            <table class="table table-striped table-hover">
                <thead class="table-dark">
                    <tr>
                        <th>Documento</th>
                        <th>Tipo de Documento</th>
                        <th>Nombre Completo</th>
                        <th>Correo</th>
                        <th>Telefono</th>
                        <th>Ciudad</th>
                        <th>Direccion</th>
                        <th>Nivel Educativo</th>
                        <th>Fecha Nacimiento</th>
                        <th>Especialidad</th>
                    </tr>
                </thead>
                <tbody>
                    {% for instructor in lista_instructores %}
                    <tr>
                        <td><strong>{{ instructor.documento_identidad }}</strong></td>
                        <td>{{ instructor.tipo_documento }}</td>
                        <td>{{ instructor.nombre_completo }}</td>
                        <td>
                            <a href="mailto:{{ instructor.correo }}">{{ instructor.correo }}</a>
                        </td>
                        <td>{{ instructor.telefono }}</td>
                        <td>{{ instructor.ciudad }}</td>
                        <td>{{ instructor.direccion }}</td>
                        <td>{{ instructor.nivel_educativo }}</td>
                        <td>{{ instructor.fecha_nacimiento }}</td>
                        <td>{{ instructor.especialidad }}</td>
                        <td>
                            <a href="/admin/instructores/instructor/{{ instructor.id }}/change/" class="btn btn-sm btn-warning"><li class="bi bi-pencil"> Editar</li></a>
                            <a href="/admin/instructores/instructor/{{ instructor.id }}/delete/" class="btn btn-sm btn-danger" onclick="return confirm('¿Eliminar a {{ instructor.nombre_completo }}?')"><li class="bi bi-trash3"> Eliminar</li></a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endif %}
{% endblock %}