{% extends 'base.html' %}

{% block title %}Lista de Programas SENA - SENA APP{% endblock %}

{% block content %}
<div class="d-flex  flex-column min-vh-100 py-5">
    <div class="container">
<div class="row">
    <div class="col-12">
        <div class="d-flex justify-content-between align-items-center mb-4">
            <h2>Lista de Progrmas que el SENA ofrece</h2>
            <div>
                <span class="badge bg-info fs-6">Total: {{ total_programas }} Programas</span>
                <a href="/admin/programas/programa/add" class="btn btn-success ms-2">
                    Nuevo Programa
                </a>
            </div>
        </div>
    </div>
</div>

{% if lista_programas %}
<div class="row">
    <div class="col-12">
        <div class="table-responsive">
            <table class="table-striped table-hover">
                <thead class="table-dark">
                    <tr>
                        <th>Codigo</th>
                        <th>Nombre</th>
                        <th>Nivel de Formacion</th>
                        <th>Modalidad</th>
                        <th>Meses</th>
                        <th>Descripcion</th>
                        <th>Centro Formacion</th>
                        <th>Regional</th>
                    </tr>
                </thead>
                <tbody>
                    {% for programa in lista_programas %}
                    <tr>
                        <th>{{ programa.codigo }}</th>
                        <th>{{ programa.nombre }}</th>
                        <th>{{ programa.nivel_formacion }}</th>
                        <th>{{ programa.modalidad }}</th>
                        <th>{{ programa.duracion_meses }}</th>
                        <th>{{ programa.descripcion }}</th>
                        <th>{{ programa.regional }}</th>
                        <td>
                            <a href="/admin/programas/programa/{{ programa.id }}/change/"
                                class="btn btn-sm btn-outline-primary">
                                Editar
                            </a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% else %}
<div class="row">
    <div class="col-12">
        <div class="alert alert-info" role="alert">
            <h4 class="alert-heading">No hay Programas registrados</h4>
            <p>Aun no se han registrado Programas en el sistema.</p>
            <hr>
            <p class="mb-0">
                <a href="{% url 'admin:programas_programa_add' %}" class="btn btn-success">
                    Registrar Primer Programa
                </a>
            </p>
        </div>
    </div>
</div>
{% endif %}
    </div>
</div>
{% endblock %}